 *{
    color: rgb(201, 48, 48);
    text-align: center;
 }
.p1{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.p2{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.p3{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}
.p4{
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
}
.p5{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.p6{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
.p7{
    font-family: "Noto Serif Telugu", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.p8{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.p9{
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.p10{
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.p10{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.p11{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.p12{
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    font-style: normal;
}
.p13{
    font-family: "Kablammo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" <morph>;
}
.p14{
    font-family: "Chokokutai", serif;
    font-weight: 400;
    font-style: normal;
}
.p15{
    font-family: "Noto Sans Ethiopic", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}